---
import Layout from "../layouts/Layout.astro";
import Publication from "../components/Publication.astro";
import { Image } from "astro:assets";
import avatar from "../images/avatar.png";
import { Icon } from "astro-icon/components";
import BioEntry from "../components/BioEntry.astro";
import Title from "../components/Title.astro";
---

<Layout title="Wietse de Vries" description="I am a postdoctoral researcher in the Computational Linguistics group of the University of Groningen.">
  <main class="mx-auto container max-w-2xl">
    <div class="mx-4 my-12 sm:my-20 [&>p]:my-4">
      <Image src={avatar} alt="Avatar van Wietse de Vries" class="rounded-full w-40 mx-auto shadow-lg" />
      <h1 class="text-center my-6 text-4xl font-medium">Wietse de Vries</h1>
      <p>
        Hi! I am a postdoctoral researcher in the Computational Linguistics group of the University of Groningen (The
        Netherlands). My current work is on <span class="font-medium">low-resource speech technology&nbsp;🗣️</span>.
      </p>
      <p>
        Current hobbies include <span class="font-medium">beekeeping&nbsp;🐝</span>,
        <span class="font-medium">mycology&nbsp;🍄</span>, <span class="font-medium">meadmaking</span>&nbsp;🍯, <span class="font-medium">bouldering&nbsp;🪨</span> and
        <span class="font-medium">ice skating&nbsp;⛸️</span>.
      </p>

      <Title icon="mdi:person-outline">Profiles</Title>
      <div
        class="sm:flex [&>ul]:flex-1 [&>ul>li]:my-1 [&>ul>li]:flex [&>ul>li]:items-center [&>ul>li>svg]:w-8 [&>ul>li>a]:text-blue-700 [&>ul>li>a:hover]:underline"
      >
        <ul>
          <li>
            <Icon name="academicons:google-scholar-square" class="text-red-800" /><a
              href="https://scholar.google.nl/citations?user=gZkWURYAAAAJ"
              target="_blank">Google Scholar</a
            >
          </li>
          <li>
            <Icon name="academicons:semantic-scholar" class="text-yellow-700" /><a
              href="https://www.semanticscholar.org/author/Wietse-de-Vries/144611157"
              target="_blank">Semantic Scholar</a
            >
          </li>
          <li>
            <Icon name="acl" class="px-2 text-red-500" /><a href="https://aclanthology.org/people/w/wietse-de-vries/" target="_blank"
              >ACL Anthology</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <Icon name="logos:github-icon" /><a href="https://github.com/wietsedv/" target="_blank"
              ><span class="font-medium">wietsedv</span> on Github</a
            >
          </li>
          <li>
            <Icon name="logos:hugging-face-icon" /><a href="https://huggingface.co/wietsedv" target="_blank"
              ><span class="font-medium">wietsedv</span> on Hugging Face</a
            >
          </li>
          <li>
            <Icon name="logos:bluesky" /><a href="https://bsky.app/profile/wietsedv.nl" target="_blank"
              ><span class="font-medium">@wietsedv.nl</span> on Bluesky</a
            >
          </li>
        </ul>
      </div>

      <Title icon="mdi:biography">Academic bio</Title>
      <ul class="[&>li]:my-2">
        <BioEntry
          start="2024"
          end="now"
          title="Postdoctoral researcher in Speech Technology"
          affiliation="University of Groningen"
        />
        <BioEntry
          start="2020"
          end="2024"
          title="PhD in Computational Linguistics"
          affiliation="University of Groningen"
        >
          <a
            class="text-blue-700 hover:underline"
            href="https://hdl.handle.net/11370/615130ba-44bb-46a3-b90c-75c2a4136c3a"
            target="_blank">PhD thesis</a
          >: <span class="italic"
            >Evaluation and Adaptation of Neural Language Models for Under-Resourced Languages</span
          >
        </BioEntry>
        <BioEntry
          start="2018"
          end="2020"
          title="Ma in Information Science"
          affiliation="University of Groningen"
          extra="cum laude"
        />
        <BioEntry
          start="2015"
          end="2018"
          title="BSc in Information Science"
          affiliation="University of Groningen"
          extra="cum laude"
        />
      </ul>

      <Title icon="mdi:paper-outline">Publications</Title>
      <ul class="[&>li]:my-4">
        <!-- <Publication
          title=""
          year={}
          venue=""
          doi=""
          acl=""
          github=""
          authors=""
        /> -->
        <Publication
          title="Exploring Self-Supervised Speech Representations for Cross-lingual Acoustic-to-Articulatory Inversion"
          year={2024}
          venue="Interspeech 2024"
          doi="10.21437/Interspeech.2024-1740"
          pdf="https://www.isca-archive.org/interspeech_2024/hao24c_interspeech.pdf"
          github="haoyunlf/aai"
          google="gZkWURYAAAAJ:g5m5HwL7SMYC"
          authors="Yun Hao, Reihaneh Amooie, <span class='font-bold'>Wietse de Vries</span>, Thomas Tienkamp, Rik van Noord, Martijn Wieling"
        />
        <Publication
          title="Developing Infrastructure for Low-Resource Language Corpus Building"
          year={2024}
          venue="SIGUL 2024"
          acl="2024.sigul-1.10"
          google="gZkWURYAAAAJ:M05iB0D1s5AC"
          authors="Hedwig Sekeres, Wilbert Heeringa, <span class='font-bold'>Wietse de Vries</span>, Oscar Yde Zwagers, Martijn Wieling, Goffe Jensma"
        />
        <Publication
          title="Extracting and classifying exceptional COVID-19 measures from multilingual legal texts: The merits and limitations of automated approaches"
          year={2024}
          venue="Regulation & Governance 18"
          doi="10.1111/rego.12557"
          pdf="https://onlinelibrary.wiley.com/doi/pdf/10.1111/rego.12557"
          google="gZkWURYAAAAJ:35N4QoGY0k4C"
          authors="Clara Egger, Tommaso Caselli, Georgios Tziafas, Eugénie de Saint Phalle, <span class='font-bold'>Wietse de Vries</span>"
        />
        <Publication
          title="DUMB: A Benchmark for Smart Evaluation of Dutch Models"
          year={2023}
          venue="EMNLP 2023"
          doi="10.18653/v1/2023.emnlp-main.447"
          acl="2023.emnlp-main.447"
          github="wietsedv/dumb"
          google="gZkWURYAAAAJ:70eg2SAEIzsC"
          authors="<span class='font-bold'>Wietse de Vries</span>, Martijn Wieling, Malvina Nissim"
        />
        <Publication
          title="Make the Best of Cross-lingual Transfer: Evidence from POS Tagging with over 100 Languages"
          year={2022}
          venue="ACL 2022"
          doi="10.18653/v1/2022.acl-long.529"
          acl="2022.acl-long.529"
          github="wietsedv/xpos"
          google="gZkWURYAAAAJ:bEWYMUwI8FkC"
          authors="<span class='font-bold'>Wietse de Vries</span>, Martijn Wieling, Malvina Nissim"
        />
        <Publication
          title="Neural Representations for Modeling Variation in Speech"
          year={2022}
          venue="Journal of Phonetics 92"
          doi="10.1016/j.wocn.2022.101137"
          pdf="https://www.ldc.upenn.edu/sites/default/files/may2022_neural_representations_for_modeling.pdf"
          github="Bartelds/neural-acoustic-distance"
          google="gZkWURYAAAAJ:TFP_iSt0sucC"
          authors="Martijn Bartelds, <span class='font-bold'>Wietse de Vries</span>, Faraz Sanal, Caitlin Richter, Mark Liberman, Martijn Wieling"
        />
        <Publication
          title="Adapting Monolingual Models: Data can be Scarce when Language Similarity is High"
          year={2021}
          venue="Findings of ACL 2021"
          doi="10.18653/v1/2021.findings-acl.433"
          acl="2021.findings-acl.433"
          github="wietsedv/low-resource-adapt"
          google="gZkWURYAAAAJ:hFOr9nPyWt4C"
          authors="<span class='font-bold'>Wietse de Vries</span>*, Martijn Bartelds*, Malvina Nissim, Martijn Wieling <span class='italic'>*equal contribution</span>"
        />
        <Publication
          title="As Good as New. How to Successfully Recycle English GPT-2 to Make Models for Other Languages"
          year={2021}
          venue="Findings of ACL 2021"
          doi="10.18653/v1/2021.findings-acl.74"
          acl="2021.findings-acl.74"
          github="wietsedv/gpt2-recycle"
          google="gZkWURYAAAAJ:IWHjjKOFINEC"
          authors="<span class='font-bold'>Wietse de Vries</span>, Malvina Nissim"
        />
        <Publication
          title="A Multilingual Approach to Identify and Classify Exceptional Measures against COVID-19"
          year={2021}
          venue="Natural Legal Language Processing Workshop 2021"
          doi="10.18653/v1/2021.nllp-1.5"
          acl="2021.nllp-1.5"
          google="gZkWURYAAAAJ:_Qo2XoVZTnwC"
          authors="Georgios Tziafas, Eugenie de Saint-Phalle, <span class='font-bold'>Wietse de Vries</span>, Clara Egger, Tommaso Caselli"
        />
        <Publication
          title="What's so special about BERT's layers? A closer look at the NLP pipeline in monolingual and multilingual models"
          year={2020}
          venue="Findings of EMNLP 2020"
          doi="10.18653/v1/2020.findings-emnlp.389"
          acl="2020.findings-emnlp.389"
          github="wietsedv/bertje"
          google="gZkWURYAAAAJ:QIV2ME_5wuYC"
          authors="<span class='font-bold'>Wietse de Vries</span>, Andreas van Cranenburgh, Malvina Nissim"
        />
        <Publication
          title="BERTje: A Dutch BERT model"
          year={2019}
          doi="10.48550/arXiv.1912.09582"
          pdf="https://arxiv.org/pdf/1912.09582"
          github="wietsedv/bertje"
          google="gZkWURYAAAAJ:blknAaTinKkC"
          authors="<span class='font-bold'>Wietse de Vries</span>, Andreas van Cranenburgh, Arianna Bisazza, Tommaso Caselli, Gertjan van Noord, Malvina Nissim"
        />
        <Publication
          title="Cognitively Plausible Computational Models of Lexical Processing Can Explain Variance in Human Word Predictions and Reading Times"
          year={2019}
          venue="Artificial Intelligence and Machine Learning (BNAIC 2019)"
          doi="10.1007/978-3-030-65154-1_4"
          google="gZkWURYAAAAJ:qUcmZB5y_30C"
          pdf="https://link.springer.com/content/pdf/10.1007/978-3-030-65154-1_4.pdf"
          authors="<span class='font-bold'>Wietse de Vries</span>"
        />
      </ul>
    </div>
  </main>
</Layout>
